@model ToyStoreClient.Models.ProductModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Details</h1>
<div class="container">
    <h4 class="text-center">Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Product Id:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ProductId)</dd>
        <dt class="col-sm-3">Product Name:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ProductName)</dd>

        <dt class="col-sm-3">Price:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

        <dt class="col-sm-3">Model Year:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ModelYear)</dd>

        <dt class="col-sm-3">Discount:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Discount)</dd>

        <dt class="col-sm-3">Description:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-3">Image:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Image)</dd>

        <dt class="col-sm-3">Category Id:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CategoryId)</dd>
    </dl>
</div>
<div class="text-center mt-3">
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary" }) |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div> 
