@model IEnumerable<ToyStoreClient.Models.ContactModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .product-management-buttons {
        margin: 12px;
    }
</style>
<div class="product-management-buttons">
    <div class="row mb-3">
        <div>
            <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus fa-sm"></i> Create New</a>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Of Contacts</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Message)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateAt)
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Message)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateAt)
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContactId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContactName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Message)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateAt)
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-success" asp-action="Edit" asp-route-id="@item.ContactId" data-toggle="tooltip" title="Edit item"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.ContactId" data-toggle="tooltip" title="Detail item"><i class="fas fa-info-circle"></i></a>
                                            <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.ContactId" data-toggle="tooltip" title="Delete item"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

